/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-container {
  display: flex;
}
.flex-container.vertical {
  flex-flow: column;
  height: 100%;
}
.flex-container.justify-center {
  justify-content: center;
}
.flex-container.align-items-center {
  align-items: center;
}
.flex-container[hidden] {
  display: none;
}
.flex-container .content-block.fixed {
  flex: 0 0 auto;
}
.flex-container .content-block.flexible {
  flex: 1 1 auto;
}
.flex-container .content-block.flexible-equal {
  flex: 1 1 0px;
}
.flex-container .content-block.shrinkable {
  flex: 0 1 auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
